# 전국어린이보호구역표준데이터

- 시설종류별 cctv 설치 여부 카운트 /대수
- 광역시도별, 시설종류별 카운트
- 관할경찰서별 CCTV 설치대수
- CCTV 평균 설치대수
- 도로폭 / CCTV 설치대수 상관도

In [1]:
import pandas as pd
import numpy as np


url = 'https://www.data.go.kr/download/15012891/standard.do?dataType=csv'
raw_df = pd.read_csv(url, encoding= 'cp949')

In [2]:
raw_df.describe()

                 위도            경도      CCTV설치대수        제공기관코드
count  15053.000000  15051.000000  11682.000000  1.505600e+04
mean      36.376821    127.594198      2.586543  4.378967e+06
std        1.093878      0.871786      2.937831  9.926488e+05
min       33.169167    124.661632      0.000000  3.000000e+06
25%       35.340634    126.921993      1.000000  3.560000e+06
50%       36.366198    127.198870      2.000000  4.090000e+06
75%       37.448215    128.453699      3.000000  5.060000e+06
max       38.542101    130.902799     46.000000  6.500000e+06

In [3]:
raw_df.head()

,시설종류,대상시설명,소재지도로명주소,소재지지번주소,위도,경도,관리기관명,관할경찰서명,CCTV설치여부,CCTV설치대수,보호구역도로폭,데이터기준일자,제공기관코드,제공기관명
0,유치원,성송초등학교병설유치원,전라북도 고창군 성송면 백토1길 10,전라북도 고창군 성송면 판정리 725,35.356252,126.643542,전라북도 고창군,고창경찰서,Y,NaN,9,2022-12-29,4780000,전라북도 고창군
1,초등학교,성송초등학교,전라북도 고창군 성송면 백토1길 10,전라북도 고창군 성송면 판정리 725,35.356252,126.643542,전라북도 고창군,고창경찰서,Y,2.0,9,2022-12-29,4780000,전라북도 고창군
2,유치원,신림초등학교병설유치원,전라북도 고창군 신림면 동법지길 61,전라북도 고창군 신림면 법지리 산31,35.494235,126.700198,전라북도 고창군,고창경찰서,Y,NaN,18,2022-12-29,4780000,전라북도 고창군
3,초등학교,신림초등학교,전라북도 고창군 신림면 동법지길 61,전라북도 고창군 신림면 법지리 산31,35.494235,126.700198,전라북도 고창군,고창경찰서,Y,2.0,18,2022-12-29,4780000,전라북도 고창군
4,유치원,심원초등학교병설유치원,전라북도 고창군 심원면 심원로 229,전라북도 고창군 심원면 월산리 725,35.525712,126.552392,전라북도 고창군,고창경찰서,Y,NaN,9,2022-12-29,4780000,전라북도 고창군

In [4]:
raw_df.dtypes
raw_df['시설종류'] = raw_df['시설종류'].astype('category')
raw_df['CCTV설치여부'] = raw_df['CCTV설치여부'].astype('category')

In [5]:
raw_df.loc[(raw_df['CCTV설치여부'] == 'Y') & (raw_df['CCTV설치대수'].isnull()), 'CCTV설치대수'] = 1.0
raw_df.loc[(raw_df['CCTV설치여부'] == 'N') & (raw_df['CCTV설치대수'].isnull()), 'CCTV설치대수'] = 0.0
print(raw_df.isnull().sum())

시설종류           0
대상시설명          0
소재지도로명주소     225
소재지지번주소     2913
위도             3
경도             5
관리기관명          0
관할경찰서명         0
CCTV설치여부       0
CCTV설치대수       0
보호구역도로폭     4372
데이터기준일자        0
제공기관코드         0
제공기관명          0
dtype: int64

In [6]:
sub_df1 = raw_df[['시설종류', 'CCTV설치여부' ]]
sub_df2 = raw_df[['시설종류', 'CCTV설치대수' ]]
sub_df3 = raw_df[['제공기관명', '시설종류' ]]
sub_df4 = raw_df[['관할경찰서명', 'CCTV설치대수' ]]

In [7]:
a1 = sub_df1.groupby('시설종류').value_counts()
a2 = sub_df2.groupby('시설종류').value_counts()
a3 = sub_df3.groupby('제공기관명').value_counts()
a4 = sub_df4.groupby('관할경찰서명').value_counts()

In [8]:
print("시설종류에 따른 설치여부", a1)

시설종류에 따른 설치여부 시설종류       CCTV설치여부
국제학교       Y              7
           N              0
대안학교       N              6
           Y              1
어린이집       Y           2216
           N           1062
외국인교육기관    Y              1
           N              0
외국인학교      Y              7
           N              3
유치원        Y           3202
           N           1347
초등학교       Y           6079
           N            886
초등학교+어린이집  Y              3
           N              0
특수학교       Y            122
           N             40
학원         Y             49
           N             25
dtype: int64

In [9]:
print("시설종류에 따른 설치대수", a2)

시설종류에 따른 설치대수 시설종류  CCTV설치대수
국제학교  1.0         6
      2.0         1
      0.0         0
      10.0        0
      16.0        0
                 ..
학원    17.0        0
      16.0        0
      15.0        0
      14.0        0
      46.0        0
Length: 330, dtype: int64

In [10]:
print(a3)

제공기관명     시설종류
강원도 강릉시   초등학교         36
          유치원          30
          어린이집          6
          특수학교          1
          국제학교          0
                       ..
충청북도 충주시  초등학교+어린이집     0
          대안학교          0
          국제학교          0
          외국인교육기관       0
          학원            0
Length: 2250, dtype: int64

In [11]:
a4

관할경찰서명  CCTV설치대수
가평경찰서   1.0         15
        0.0          4
        2.0          1
강남경찰서   1.0         12
        2.0          7
                    ..
흥덕      16.0         1
        13.0         1
        9.0          1
        6.0          1
        19.0         1
Length: 1657, dtype: int64

In [12]:
print("CCTV 설치 평균: " ,raw_df['CCTV설치대수'].mean())

CCTV 설치 평균:  2.118026036131775

In [13]:


# raw_df.dropna(subset=['보호구역도로폭'], inplace=True)

In [14]:

def process_road_width(width_str):
    try:
        return float(width_str)
    except ValueError:
        # 범위 구분자인 '~' 으로 분할
        width_range = width_str.split('~')
        if len(width_range) != 2:
            # NaN 값인 경우, 전체 평균 값을 대체
            return raw_df['보호구역도로폭'].astype(np.float64).mean()
        # 범위의 최솟값, 최댓값 구하기
        min_width = float(width_range[0])
        max_width = float(width_range[1])
        # 범위의 평균값 리턴
        return (min_width + max_width) / 2

raw_df['보호구역도로폭'] = raw_df['보호구역도로폭'].apply(process_road_width)

ValueError: could not convert string to float: '3~8'

In [ ]:
raw_df['보호구역도로폭']

In [ ]:
correlation = raw_df['보호구역도로폭'].corr(raw_df['CCTV설치대수'])
print("도로폭에 대한 CCTV 설치대수와의 상관도:", correlation)

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(raw_df['보호구역도로폭'], raw_df['CCTV설치대수'])
plt.xlabel("보호구역도로폭")
plt.ylabel("CCTV설치대수")
plt.show()

In [ ]:
def detect_outliers_z_score(data):
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)
    z_scores = [(y - mean) / std for y in data]
    return np.where(np.abs(z_scores) > threshold)

outlier_indices = detect_outliers_z_score(raw_df['보호구역도로폭'])
print("Outlier indices in '보호구역도로폭':", outlier_indices)

In [ ]:
outlier_indices = detect_outliers_z_score(raw_df['CCTV설치대수'])
print("Outlier indices in 'CCTV설치대수':", outlier_indices)

In [ ]:
# 이상치 제거
df = raw_df[(raw_df['보호구역도로폭'] < 50) & (raw_df['CCTV설치대수'] < 40)]

# 상관도 구하기
correlation = df['보호구역도로폭'].corr(df['CCTV설치대수'])
print("도로폭에 대한 CCTV 설치대수와의 상관도:", correlation)

# 그래프 그리기
plt.scatter(df['보호구역도로폭'], df['CCTV설치대수'])
plt.xlabel('보호구역도로폭')
plt.ylabel('CCTV설치대수')
plt.show()

In [ ]:
outlier_indices1 = detect_outliers_z_score(raw_df['보호구역도로폭'])
cleaned_df = raw_df.drop(raw_df.index[outlier_indices1])

outlier_indices2 = detect_outliers_z_score(raw_df['CCTV설치대수'])
cleaned_df = raw_df.drop(raw_df.index[outlier_indices2])

# Plot the scatter plot
plt.scatter(cleaned_df['보호구역도로폭'], cleaned_df['CCTV설치대수'])
plt.xlabel('Road Width')
plt.ylabel('Number of CCTV installations')
plt.show()

In [ ]:
pip install scikit-learn

In [ ]:
import sklearn
from sklearn import datasets

x = datasets.load_diabetes()
print(x['DESCR'])