In [19]:
import numpy as np
import pandas as pd

url = 'https://www.data.go.kr/download/15028208/standard.do?dataType=csv'
truck_df = pd.read_csv(url,encoding='cp949')
print(np.sum(truck_df['푸드트럭운영대수']))

444.0

In [20]:
truck_df.columns

Index(['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도',
       '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일',
       '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각',
       '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각',
       '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각',
       '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각',
       '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각',
       '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드',
       '제공기관명'],
      dtype='object')

In [21]:
truck_df_d = truck_df[['허가구역명', '시도명', '푸드트럭운영대수']]

In [29]:
truck_df_d['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [28]:
truck_df_d

               허가구역명    시도명  지자체별 허가구역수  푸드트럭운영대수
0         부산대학교내 장승터  부산광역시         NaN       1.0
1             금양초등학교  부산광역시         NaN       1.0
2    부산가톨릭대학교 로사리오광장  부산광역시         NaN       1.0
3          호계2차현대홈타운    경기도         NaN       NaN
4            안양종합운동장    경기도         NaN       NaN
..               ...    ...         ...       ...
337             정이네뜰    경기도         NaN       1.0
338          美, cafe    경기도         NaN       1.0
339             주영카페    경기도         NaN       1.0
340     동막골 유원지 협동조합    경기도         NaN       1.0
341     동막골 유원지 협동조합    경기도         NaN       1.0

[342 rows x 4 columns]