In [15]:
import numpy as np
import pandas as pd

url = 'https://www.data.go.kr/download/15028208/standard.do?dataType=csv'
truck_df = pd.read_csv(url,encoding='cp949')
print(np.sum(truck_df['푸드트럭운영대수']))
print(truck_df.shape)
print(truck_df.dtypes)
num_descr_df = truck_df.describe()
print(num_descr_df.columns)
print(truck_df.columns)

lista = list(truck_df.columns)
for e in list(num_descr_df.columns):
    lista.remove(e)
print(len(truck_df.columns), len(lista))
truck_df[lista].describe()

444.0
(342, 47)
허가구역명            object
장소유형              int64
시도명              object
시군구명             object
소재지도로명주소         object
소재지지번주소          object
위도              float64
경도              float64
푸드트럭운영대수        float64
허가구역사용료          object
허가구역운영시작일자       object
허가구역운영종료일자       object
허가구역휴무일          object
허가구역평일운영시작시각     object
허가구역평일운영종료시각     object
허가구역주말운영시작시각     object
허가구역주말운영종료시각     object
1월운영시작시각         object
1월운영종료시각         object
2월운영시작시각         object
2월운영종료시각         object
3월운영시작시각         object
3월운영종료시각         object
4월운영시작시각         object
4월운영종료시각         object
5월운영시작시각         object
5월운영종료시각         object
6월운영시작시각         object
6월운영종료시각         object
7월운영시작시각         object
7월운영종료시각         object
8월운영시작시각         object
8월운영종료시각         object
9월운영시작시각         object
9월운영종료시각         object
10월운영시작시각        object
10월운영종료시각        object
11월운영시작시각        object
11월운영종료시각        object
12월운영시작시각        object
12월운영종료시각        object
판매제한품목           object
관리기관명            object
관리기관전화번호         object
데이터기준일자          object
제공기관코드           object
제공기관명            object
dtype: object
Index(['장소유형', '위도', '경도', '푸드트럭운영대수'], dtype='object')
Index(['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도',
       '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일',
       '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각',
       '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각',
       '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각',
       '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각',
       '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각',
       '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드',
       '제공기관명'],
      dtype='object')
47 43

,허가구역명,시도명,시군구명,소재지도로명주소,소재지지번주소,허가구역사용료,허가구역운영시작일자,허가구역운영종료일자,허가구역휴무일,허가구역평일운영시작시각,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
count,342,342,342,239,311,342,342,342,342,342,...,126,126,124,124,95,342,342,342,342,342
unique,304,16,103,216,276,123,255,197,58,19,...,13,12,13,12,18,115,132,87,108,108
top,아파트,경기도,흥덕구,충청북도 청주시 흥덕구 옥산면 오송가락로 1056 (청주리버파크자이),충청북도 청주시 흥덕구 송절동 851 청주테크노폴리스푸르지오,0,2021-01-01,2022-12-31,연중무휴,00:00,...,09:00,18:00,09:00,18:00,주류,충청북도 청주시 흥덕구청,043-201-1972,2022-08-18,5710000,충청북도 청주시
freq,10,80,23,5,5,180,10,39,240,113,...,45,28,45,28,58,23,36,36,36,36

In [3]:
truck_df.columns

Index(['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도',
       '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일',
       '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각',
       '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각',
       '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각',
       '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각',
       '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각',
       '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드',
       '제공기관명'],
      dtype='object')

In [4]:
truck_df_d = truck_df[['허가구역명', '시도명', '푸드트럭운영대수']]

In [5]:
truck_df_d['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [6]:
sub_data = truck_df_d[['시도명', '푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [7]:
truck_df_d['시도명'].describe()

count     342
unique     16
top       경기도
freq       80
Name: 시도명, dtype: object

In [8]:
truck_df_d['푸드트럭운영대수'].describe()

count    251.000000
mean       1.768924
std        2.952015
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       25.000000
Name: 푸드트럭운영대수, dtype: float64

In [9]:
truck_df_d[['시도명', '푸드트럭운영대수']].describe()

         푸드트럭운영대수
count  251.000000
mean     1.768924
std      2.952015
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     25.000000

In [22]:
x = truck_df['허가구역운영시작일자'].astype(np.datetime64)
print(x.dt.year)

0      2018
1      2018
2      2019
3      2020
4      2022
       ...
337    2021
338    2021
339    2022
340    2022
341    2022
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [31]:
y = truck_df['허가구역휴무일'].astype('category')
print(y)
print(y.cat.codes)
df1 = pd.DataFrame({'label' : y, 'codes': y.cat.codes})
df1.sort_values('codes')

0      토요일+일요일+공휴일
1               평일
2               평일
3      월+화+수+목+토+일
4              토+일
          ...
337             없음
338             없음
339             없음
340             없음
341             없음
Name: 허가구역휴무일, Length: 342, dtype: category
Categories (58, object): ['-', '1개월 내 3~4일 비정기적 휴무', '1월+2월+12월', '1월~5월+9월~12월', ..., '평일', '행사종료일', '화+수+목+금+토+일', '화요일+수요일']
0      51
1      54
2      54
3      36
4      48
       ..
337    23
338    23
339    23
340    23
341    23
Length: 342, dtype: int8

                  label  codes
68                    -      0
69                    -      0
70                    -      0
71                    -      0
115  1개월 내 3~4일 비정기적 휴무      1
..                  ...    ...
200               행사종료일     55
199               행사종료일     55
5           화+수+목+금+토+일     56
101         화+수+목+금+토+일     56
217             화요일+수요일     57

[342 rows x 2 columns]

In [38]:
df1 = pd.DataFrame({'label' : y, 'codes': y.cat.codes})
df1.sort_values(['codes', 'label'], ascending = False)

                  label  codes
217             화요일+수요일     57
5           화+수+목+금+토+일     56
101         화+수+목+금+토+일     56
199               행사종료일     55
200               행사종료일     55
..                  ...    ...
115  1개월 내 3~4일 비정기적 휴무      1
68                    -      0
69                    -      0
70                    -      0
71                    -      0

[342 rows x 2 columns]

In [48]:
def myfn(x):
#     print(x, type(x))
    return np.sum(x['푸드트럭운영대수'])*100

sub_data = truck_df[['시도명', '푸드트럭운영대수']]
g1 = sub_data.groupby('시도명')
# g1.sum()
# g1.count()
# g1.std()
# g1.describe()
# g1.aggregate([np.sum, np.mean, np.std])
# g1.aggregate(lambda x: np.sum(x)*100)
# g1.apply(lambda x: np.sum(x)*100)
g1.apply(myfn)

시도명
강원도         2500.0
경기도        13600.0
경상남도        5700.0
경상북도        1700.0
광주광역시       1400.0
대구광역시        400.0
대전광역시       1200.0
부산광역시       1700.0
서울특별시       3500.0
울산광역시        100.0
인천광역시        900.0
전라남도        2900.0
전라북도        1000.0
제주특별자치도     4100.0
충청남도        3000.0
충청북도         700.0
dtype: float64

In [50]:
def myfn2(x):
    if x == np.NaN:
        return 0.0
    else:
        return x
x = truck_df['푸드트럭운영대수'].apply(myfn2)
print(x)

0      1.0
1      1.0
2      1.0
3      NaN
4      NaN
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64

In [51]:
x.replace(np.NaN, 0.0)

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64