In [1]:
import sys
print(sys.version)

3.11.1 (main, Dec 23 2022, 09:28:24) [Clang 14.0.0 (clang-1400.0.29.202)]

In [7]:
# 정수형
a = 10
print(type(a))
print(a)

# 실수형 기본값 float
b = 10.5
print(type(b))

# 문자열
c = 'abcd'
print(type(c))

# boolean
d = True
print(type(d))

# 메모리에서 삭제
del c

<class 'int'>
10
<class 'float'>
<class 'str'>
<class 'bool'>

# list , tuple, set, dictionary

In [14]:
list1 = [1, "2", 3.7, 4]
print(list1)
print(type(list1))

list2 = [1, 2, 'abc', {4,5}, [1,2,3]]
print(list2)

[1, '2', 3.7, 4]
<class 'list'>
[1, 2, 'abc', {4, 5}, [1, 2, 3]]

In [17]:
# 수정 불가
tuple1 = (1, 21, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 21, 3, 4)
<class 'tuple'>

In [19]:
# 중복 불가.
set1 = {1, 2, 3, 4, 1}
print(set1)

list2 = [1,2,3,4,4,5,5,5]
set2 = {1,2,3,4,4,5,5,5}

print(list2)
print(set2)

{1, 2, 3, 4}
[1, 2, 3, 4, 4, 5, 5, 5]
{1, 2, 3, 4, 5}

In [23]:
dic1 = {
    'a' : 1,
    'b': 2
}
print(dic1)
print(type(dic1))

{'a': 1, 'b': 2}
<class 'dict'>

In [27]:
a = 5

if a > 10:
    print('greater than 10')
elif a == 5: 
    print('is five')
elif a > 3:
    print('greater than 3')
else : 
    print('not greater than 10')

is five

In [29]:
# 변수 없이 for 문 할 때 언더바를 통해 변수에 넣어준다.
for _ in range(4):
    print('message')

message
message
message
message

In [35]:
a = range(0,50,3) # start, stop, step
print(a)
print(type(a))

for i in a:
    print(i)

range(0, 50, 3)
<class 'range'>
0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [38]:
# 100에서 500미만 5의 배수 출력
list1 = []
for i in range(100, 500, 5):
    list1.append(i)

print(list1)

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495]

In [40]:
list2 = [x*10 for x in range(100, 500, 5)]
print(list2)

[1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700, 2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250, 3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800, 3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350, 4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900, 4950]

In [68]:
list1 = [x for x in range(0,100)]
list2 = []
a = 0
for i in list1:
    if (i % 3 == 0) or (i % 5 == 0):
        list2.append(i)
    
     
sum(list2)

2318

In [70]:
list1 = [x for x in range(0,100) if x % 3 == 0 or x % 5 == 0]
sum(list1)

2318

In [67]:
list1 = [x for x in range(0,100,3)] 
list2 = [x for x in range(0,100,5)]

set1 = set(list1 + list2)
sum(set1)

2318