# 전국어린이보호구역표준데이터

- 시설종류별 cctv 설치 여부 카운트 /대수
- 광역시도별, 시설종류별 카운트
- 관할경찰서별 CCTV 설치대수
- CCTV 평균 설치대수
- 도로폭 / CCTV 설치대수 상관도

In [48]:
import pandas as pd
import numpy as np


url = 'https://www.data.go.kr/download/15012891/standard.do?dataType=csv'
raw_df = pd.read_csv(url, encoding= 'cp949')

In [49]:
raw_df.describe()

                 위도            경도      CCTV설치대수        제공기관코드
count  15053.000000  15051.000000  11682.000000  1.505600e+04
mean      36.376821    127.594198      2.586543  4.378967e+06
std        1.093878      0.871786      2.937831  9.926488e+05
min       33.169167    124.661632      0.000000  3.000000e+06
25%       35.340634    126.921993      1.000000  3.560000e+06
50%       36.366198    127.198870      2.000000  4.090000e+06
75%       37.448215    128.453699      3.000000  5.060000e+06
max       38.542101    130.902799     46.000000  6.500000e+06

In [50]:
raw_df.head()

,시설종류,대상시설명,소재지도로명주소,소재지지번주소,위도,경도,관리기관명,관할경찰서명,CCTV설치여부,CCTV설치대수,보호구역도로폭,데이터기준일자,제공기관코드,제공기관명
0,유치원,성송초등학교병설유치원,전라북도 고창군 성송면 백토1길 10,전라북도 고창군 성송면 판정리 725,35.356252,126.643542,전라북도 고창군,고창경찰서,Y,NaN,9,2022-12-29,4780000,전라북도 고창군
1,초등학교,성송초등학교,전라북도 고창군 성송면 백토1길 10,전라북도 고창군 성송면 판정리 725,35.356252,126.643542,전라북도 고창군,고창경찰서,Y,2.0,9,2022-12-29,4780000,전라북도 고창군
2,유치원,신림초등학교병설유치원,전라북도 고창군 신림면 동법지길 61,전라북도 고창군 신림면 법지리 산31,35.494235,126.700198,전라북도 고창군,고창경찰서,Y,NaN,18,2022-12-29,4780000,전라북도 고창군
3,초등학교,신림초등학교,전라북도 고창군 신림면 동법지길 61,전라북도 고창군 신림면 법지리 산31,35.494235,126.700198,전라북도 고창군,고창경찰서,Y,2.0,18,2022-12-29,4780000,전라북도 고창군
4,유치원,심원초등학교병설유치원,전라북도 고창군 심원면 심원로 229,전라북도 고창군 심원면 월산리 725,35.525712,126.552392,전라북도 고창군,고창경찰서,Y,NaN,9,2022-12-29,4780000,전라북도 고창군

In [51]:
raw_df.dtypes

시설종류         object
대상시설명        object
소재지도로명주소     object
소재지지번주소      object
위도          float64
경도          float64
관리기관명        object
관할경찰서명       object
CCTV설치여부     object
CCTV설치대수    float64
보호구역도로폭      object
데이터기준일자      object
제공기관코드        int64
제공기관명        object
dtype: object

In [52]:
print(raw_df.isnull().sum())

raw_df.loc[(raw_df['CCTV설치여부'] == 'Y') & (raw_df['CCTV설치대수'].isnull()), 'CCTV설치대수'] = 1.0
raw_df.loc[(raw_df['CCTV설치여부'] == 'N') & (raw_df['CCTV설치대수'].isnull()), 'CCTV설치대수'] = 0.0

시설종류           0
대상시설명          0
소재지도로명주소     225
소재지지번주소     2913
위도             3
경도             5
관리기관명          0
관할경찰서명         0
CCTV설치여부       0
CCTV설치대수    3374
보호구역도로폭     4372
데이터기준일자        0
제공기관코드         0
제공기관명          0
dtype: int64

In [63]:
sub_df1 = raw_df[['시설종류', 'CCTV설치여부' ]]
sub_df2 = raw_df[['시설종류', 'CCTV설치대수' ]]
sub_df3 = raw_df[['소재지도로명주소', '시설종류' ]]
sub_df4 = raw_df[['관할경찰서명', 'CCTV설치대수' ]]

In [64]:
a1 = sub_df1.groupby('시설종류').value_counts()
a2 = sub_df2.groupby('시설종류').value_counts()
a3 = sub_df3.groupby('소재지도로명주소').value_counts()
a4 = sub_df4.groupby('관할경찰서명').value_counts()

In [58]:
print("시설종류에 따른 설치여부", a1)

시설종류에 따른 설치여부 시설종류       CCTV설치여부
국제학교       Y              7
대안학교       N              6
           Y              1
어린이집       Y           2216
           N           1062
외국인교육기관    Y              1
외국인학교      Y              7
           N              3
유치원        Y           3202
           N           1347
초등학교       Y           6079
           N            886
초등학교+어린이집  Y              3
특수학교       Y            122
           N             40
학원         Y             49
           N             25
dtype: int64

In [59]:
print("시설종류에 따른 설치대수", a2)

시설종류에 따른 설치대수 시설종류  CCTV설치대수
국제학교  1.0            6
      2.0            1
대안학교  0.0            6
      1.0            1
어린이집  1.0         1284
                  ...
학원    1.0           38
      0.0           25
      2.0            9
      3.0            1
      7.0            1
Length: 103, dtype: int64

In [60]:
print(a3)

소재지도로명주소                   시설종류
-                          초등학교    9
                           어린이집    2
                           유치원     1
강원도 강릉시 가작로287번길 20 (포남동)  초등학교    1
강원도 강릉시 강동면 단경로 20         유치원     1
                                  ..
충청북도 충주시 하방3길 15-9         어린이집    1
충청북도 충주시 행정13길 24          어린이집    1
충청북도 충주시 행정3길 22           유치원     1
충청북도 충주시 호암수청2로 55         초등학교    1
충청북도 충주시 호암수청2로 56         유치원     1
Length: 14051, dtype: int64

In [65]:
a4

관할경찰서명  CCTV설치대수
가평경찰서   1.0         15
        0.0          4
        2.0          1
강남경찰서   1.0         12
        2.0          7
                    ..
흥덕      16.0         1
        13.0         1
        9.0          1
        6.0          1
        19.0         1
Length: 1657, dtype: int64

In [67]:
print("CCTV 설치 평균: " ,raw_df['CCTV설치대수'].mean())

CCTV 설치 평균:  2.118026036131775

In [71]:
raw_df.loc[(raw_df['보호구역도로폭'] == ''), '보호구역도로폭'] = 5.5
raw_df['보호구역도로폭'] = raw_df['보호구역도로폭'].astype(np.float64)

ValueError: could not convert string to float: '8~12'